{% extends 'base-back.html.twig' %}

{% block title %}Abonnement index{% endblock %}

{% block body %}
    <h1>Abonnement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdAbonnement</th>
                <th>LoginUser</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.idAbonnement }}</td>
                <td>{{ abonnement.loginUser }}</td>
                <td>{{ abonnement.type }}</td>
                <td>
                    <a href="{{ path('app_abonnement_show', {'idAbonnement': abonnement.idAbonnement}) }}">show</a>
                    <a href="{{ path('app_abonnement_edit', {'idAbonnement': abonnement.idAbonnement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_abonnement_new') }}">Create new</a>
    <img src="{{ qr_code_url(app.request.uri)}}" style="width: 50px; height: 50px"/>

{% endblock %}
