{% extends 'base.html.twig' %}

{% block title %}TestHistoire index{% endblock %}

{% block body %}
    <h1>TestHistoire index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>IdTest</th>
            <th>Question1</th>
            <th>R11</th>
            <th>R12</th>
            <th>R13</th>
            <th>Correctionq1</th>
            <th>Question2</th>
            <th>R21</th>
            <th>R22</th>
            <th>R23</th>
            <th>Correctionq2</th>
            <th>Question3</th>
            <th>R31</th>
            <th>R32</th>
            <th>R33</th>
            <th>Correctionq3</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for test_histoire in test_histoires %}
            <tr>
                <td>{{ test_histoire.idTest }}</td>
                <td>{{ test_histoire.question1 }}</td>
                <td>{{ test_histoire.r11 }}</td>
                <td>{{ test_histoire.r12 }}</td>
                <td>{{ test_histoire.r13 }}</td>
                <td>{{ test_histoire.correctionq1 }}</td>
                <td>{{ test_histoire.question2 }}</td>
                <td>{{ test_histoire.r21 }}</td>
                <td>{{ test_histoire.r22 }}</td>
                <td>{{ test_histoire.r23 }}</td>
                <td>{{ test_histoire.correctionq2 }}</td>
                <td>{{ test_histoire.question3 }}</td>
                <td>{{ test_histoire.r31 }}</td>
                <td>{{ test_histoire.r32 }}</td>
                <td>{{ test_histoire.r33 }}</td>
                <td>{{ test_histoire.correctionq3 }}</td>
                <td>
                    <a href="{{ path('app_test_histoire_show', {'idTest': test_histoire.idTest}) }}">show</a>
                    <a href="{{ path('app_test_histoire_edit', {'idTest': test_histoire.idTest}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_test_histoire_new') }}">Create new</a>
{% endblock %}
