{% extends 'base-back.html.twig' %}

{% block title %}Histoires!{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <p style="100px" align="center"><input id="myInput" type="text" placeholder="search">
            <img src="https://img.icons8.com/nolan/344/google-web-search.png" style="width:50px;height:50px;"/></p>

    </div>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Default Table</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Age</th>
                            <th scope="col">Langue</th>
                            <th scope="col">Nom Histoire</th>
                            <th scope="col">Contenu</th>
                            <th scope="col">Couverture</th>
                            <th scope="col">Categorie</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        {% for i in histoires %}

                            <tr>
                                <th scope="row">{{ i.idHistoire }}</th>
                                <td>{{ i.age }}</td>
                                <td>{{ i.langue }}</td>
                                <td>{{ i.nomHistoire }}</td>
                                <td>{{ i.contenuHistoire }}</td>
                                <td>{{ i.couvertureHistoire }}</td>
                                <td>{{ i.categorie }}</td>
                                <td>
                                    <a href="{{ path('supprimerHistoire',{'id':i.idHistoire}) }}">
                                        Supprimer
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('modifierHistoire',{'id':i.idHistoire}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tbody id="search">

                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
